body {
  font-family: 'Open Sans Condensed';
  padding: 20px 40px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  background-color: rgb(90, 83, 73);
  color: white;
  place-content: center;
  height: 100%;
  font-size: 2rem;
  overflow: hidden;
}
/* @media screen and (max-width: 800px) {
  body {
    background-color: rgb(90, 83, 73);
  }
} */
a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}
